.card_blog_list {
  display: grid;
  gap: 24px;
  //width: 100%;
  grid-template-columns: repeat(3, 1fr);


}

.blog_content {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2 ,1fr);
  justify-content: space-between;
  gap: 45px;
}

@media only screen and (max-width: 768px) {
  .blog_content {
    display: flex;
    //flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-inline: 20px;
  }
  .card_blog_list {
    //flex-direction: column;
    display: grid;
    //width: 100%;
    grid-template-columns: repeat(2, 1fr);
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
  }

}


@media only screen and (max-width: 425px) {
  .blog_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    margin-right: 0px;
  }
  .card_blog_list {
    flex-direction: column;
  }
}


@media only screen and (max-width: 375px) {
  .blog_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    margin-right: 0px;
  }
  .card_blog_list {
    flex-direction: column;
  }
}

@media only screen and (max-width: 320px) {
  .blog_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    margin-right: 0px;
  }
  .card_blog_list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}