.courses__cards {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.courses__card {
  flex: 1 1 calc(35% - 16px);
  width: 100%;
  max-width: 350px;
  padding-bottom: 30px;

  .card__item {
    position: relative;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    border-radius: 10px;
    padding-bottom: 30px;
    height: 350px;

    &:hover {
      box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    }

    .card__item__img {

      .card__item__img_cover {
        margin-top: 10px;
        margin-right: 100px;
      }
    }
  }

  .courses__card {
    position: relative;
  }

  .card__item__body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-inline: 18px;
    gap: 8px;

    .card__item__body_title {
      margin-top: 8px;
      font-size: 1rem !important;
      font-weight: 600 !important;
      height: 45px;
      overflow: clip;
    }

    .price_sec {
      font-weight: 400;
      font-size: 1.1rem;
      color: #525FE1;
      display: flex;
      align-items: center;
      justify-content: space-between;
      column-gap: 8px;

      .discount {
        font-size: 14px;
        line-height: 20px;
        padding: 4px 10px;
        background: #DFF5FF;
        border-radius: 10px;
        border: 1px solid #eee;
      }

      .price {
        font-weight: 600;
      }

      .price_label {

      }
    }

    padding: 6px;
  }

  .btn-card {
    // z-index: 1;
    margin-top: 100px;
    // margin-left: auto;
    // margin-right: auto;
    padding: 10px 72px !important;
    position: absolute;
    top: -120px;
    right: 90px;

  }
}

.btn {
  display: flex;
  gap: 6px;
  align-items: center;
  justify-content: center;

  padding: 14px 10px;
  border-radius: 10px;
  width: max-content;
  height: 47px;
  font-size: 16px;
  // font-weight: 600;


}

.cardbtn {
  position: absolute !important;
  top: 100%;
  right: 50%;
  transform: translate3d(50%, -50%, 0) !important;
  width: 250px;
  height: 45px;
}

.card__item__img {
  height: 200px;
  //margin: 10px;
  //width: 350px;
  //border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;

  .card__item__img_cover {
    margin: auto;

  }
}


/*
|=================== responsive ====== //
*/

//1024
@media only screen and (max-width: 1024px) {
  .courses__card {
    .card__item {
      width: 320px;
      margin-inline: 0;
    }
  }
}

//768
@media only screen and (max-width: 768px) {
  .courses__card {
    .card__item {
      width: 320px;
      margin-inline: 0;
    }
  }
}

//425px
@media only screen and (max-width: 425px) {
  .courses__card {
    .card__item {
      width: 375px;
      margin-inline: 0;
    }
  }
}

//375 px
@media only screen and (max-width: 375px) {
  .courses__card {
    .card__item {
      width: 330px;
      margin-inline: 0;
    }
  }
}

//320px
@media only screen and (max-width: 320px) {
  .courses__card {
    .card__item {
      width: 280px;
      margin-inline: 0;
    }
  }
}