.bg{
  background: #61DAFB ;
  padding: 14px;
  transform: rotate(-5deg);
}
.course_result{
  margin-top: 200px;
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
  background: #edfaff;
  margin-bottom: 300px;

  &::before {
    content: '';
    bottom: 100%;
    right: 0;
    width: 100%;
    height: 200px;
    position: absolute;
    background: #edfaff;
    clip-path: polygon(0 0, 0 100%, 100% 100%);
  }
  &::after {
    content: '';
    top: 100%;
    right: 0;
    width: 100%;
    height: 200px;
    position: absolute;
    background: #edfaff;
    clip-path: polygon(0 0, 100% 100%, 100% 0);
  }
  .course_result_content{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 150px;
    .course_result_image{
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }
    .course_result_text{
      display: flex;
      flex-direction: column;
      gap: 35px;
      color: rgb(42, 53, 84);
      font-size:16px;
      line-height: 35px;
      h2{
        width: 750px;
        line-height: 35px;
        font-size: 20px;
        color: rgb(42, 53, 84)
      ;
      }
      .course_result_title{
        font-size: 45px;
        display: flex;
        justify-content: flex-start;
        align-items: center ;
        color: rgb(42, 53, 84)
      ;

      }
    }


  }


}
@media only screen and (max-width: 1024px) {

  .course_result{
    margin-right: auto;
    width: 1024px;
    .course_result_content{
      padding-inline: 25px;
      display: flex;
      flex-direction: row;
      align-items: center ;
      justify-content: center;
      gap: 25px;
      .course_result_image{
        width: 450px  ;
      }
      .course_result_text{
        padding-inline: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .course_result_title{
          font-size: 35px;
          font-weight: bold;
          text-align: center;
          line-height: normal;

        }
        h2{

          width: 425px !important;
          text-align: center;
        }
        p{
          text-align: center;
        }

      ;
      }
    }
  }

}
@media only screen and (max-width: 768px) {

  .course_result{
    margin-right: auto;
    width: 768px;
    .course_result_content{
      padding-inline: 25px;
      display: flex;
      flex-direction: row;
      align-items: center ;
      justify-content: center;
      gap: 25px;
      .course_result_image{
        width: 450px  ;
      }
      .course_result_text{
        padding-inline: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .course_result_title{
          font-size: 35px;
          font-weight: bold;
          text-align: center;
          line-height: normal;

        }
        h2{

          width: 425px !important;
          text-align: center;
        }
        p{
          text-align: center;
        }

      ;
      }
    }
  }

}
@media only screen and (max-width: 425px) {

  .course_result{
    margin-right: auto;
    width: 425px;
    .course_result_content{
      display: flex;
      flex-direction: column;
      align-items: center ;
      .course_result_image{
        width: 280px  ;
      }
      .course_result_text{
        padding-inline: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .course_result_title{
          font-size: 35px;
          font-weight: bold;
          text-align: center;
          line-height: normal;

        }
        h2{

          width: 300px !important;
          text-align: center;
        }
        p{
          text-align: center;
        }

      ;
      }
    }
  }

}
@media only screen and (max-width: 375px) {

  .course_result{
    margin-right: auto;
    width: 375px;
    .course_result_content{
      display: flex;
      flex-direction: column;
      align-items: center ;
      .course_result_image{
        width: 280px  ;
      }
      .course_result_text{
        padding-inline: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .course_result_title{
          font-size: 35px;
          font-weight: bold;
          text-align: center;
          line-height: normal;

        }
        h2{

          width: 300px !important;
          text-align: center;
        }
        p{
          text-align: center;
        }

      ;
      }
    }
  }

}


@media only screen and (max-width: 320px) {
.bg{
  background: #61DAFB ;
  padding: 14px;
  transform: rotate(-5deg);
  width: 3320px;
}
  .course_result{
    width: 320px;
    .course_result_content{
      display: flex;
      flex-direction: column;
      align-items: center ;
      .course_result_image{
        width: 280px  ;
      }
      .course_result_text{
        padding-inline: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .course_result_title{
          font-size: 35px;
          font-weight: bold;
          text-align: center;
          line-height: normal;

        }
      h2{

        width: 300px !important;
        text-align: center;
      }
        p{
          text-align: center;
        }

      ;
      }
    }
  }

}