.student__say {
  margin-top:200px ;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px ;
  .student__say__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    h1 {
      font-size: 45px;
      font-weight: 700;
    }
    p {
      width: 1000px;
      text-align: center;
      margin-top: 20px;
    }
  }
}

.student__say__content {
  margin-top: 35px;
  display: flex;
  z-index: -1;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #525FE1;
  background-size:100%;
  border-radius: 10px;
  max-width: max-content;
  padding: 14px 30px;
  height: 236px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  p {
    text-align: center;
    margin-left: auto;
    color: white;
    font-size: 18px;
    line-height: 32px;
  }

}

.user__box  {
  z-index: 2;
  position: relative;
  top:-57px;
  left: 10px;
  //left: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  //background-color: red;
}

//  ================== reasponsive ============

@media only screen and (max-width:500px) {
  .student__say__header {
    h1 {
      line-height: 60px;
    }
  }
  .student__say__content {
    width: max-content;
    // padding: 10px 0;
    p {
      width: 400px;
      padding: 10px;
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 60px;
      text-overflow: ellipsis;
    }
  }
  .user__box {
    position: relative;
    top: -140px;
  }

}
@media only screen and (max-width: 768px)  {
  .student__say{
    text-align: center;
    .student__say__header{
      h1{
        font-size: 40px;
      }
      p{
        width: 650px;
      }
    }
    .student__say__content{
      margin-right: auto;
      margin-left: auto;
      max-width: 750px;
      padding: 14px;

      p{
        //width: 750px;
      }
    }
    .user__box{
      top: -35px;
      right:auto ;
      left: auto;
    }
  }
}
@media only screen and (max-width: 425px)  {
  .student__say{
    text-align: center;
    .student__say__header{
      h1{
        font-size: 40px;
      }
      p{
        width: 375px;
      }
    }
    .student__say__content{
      margin-right: auto;
      margin-left: auto;
      max-width: 400px;
      padding: 14px;

      p{
        width: 375px;
      }
    }
    .user__box{
      top: -50px;
      right:auto ;
      left: auto;
    }
  }
}

@media only screen and (max-width: 375px)  {
  .student__say{
    text-align: center;
    .student__say__header{
      padding-inline: 15px;
      h1{
        font-size: 40px;
      }
      p{
        width: 320px;
      }
    }
    .student__say__content{
      margin-right: auto;
      margin-left: auto;
      max-width: 350px;
      padding: 14px;

      p{
        width: 300px;
      }
    }
    .user__box{
      top: -50px;
      right:auto ;
      left: auto;
    }
  }
}
@media only screen and (max-width: 320px)  {
  .student__say{
    text-align: center;
    .student__say__header{
      padding-inline: 15px;
      h1{
        font-size: 35px;
      }
      p{
        width: 280px;
      }
    }
    .student__say__content{
      margin-right:12px;
      max-width: 300px;
      padding: 14px;

      p{
        line-height: normal;
        width: 280px;
      }
    }
    .user__box{
      top: -50px;
      right:auto ;
      left: auto;
    }
  }
}