.sidebar {

  margin-top: 0px;
  width: 320px;
  // height: 50vh;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;

}

.header_sidebar {
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
  margin-left: 6px;

  .btn_sidebar {
    width: 100%;
    max-width: 85px;
    font-size: 10px;
    font-weight: 600;
    transition: all 0.2s ease;
    border: 1px solid #eee;
    background: none;
    &:hover {
      background: #D2E0FB;
    }

  }
}


// -------------------------- responsive--------------//
@media only screen and (max-width: 768px) {
  .sidebar {
    margin-top: 40px;
    width: 715px;
  }
  .content_product_list {
    display: flex;
    flex-direction: column;
  }
  .content_products {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 425px) {
  .sidebar {
    margin-top: 40px;
    width: 375px;
  }
  .content_product_list {
    display: flex;
    flex-direction: column;
  }
  .content_products {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 375px) {
  .sidebar {
    margin-top: 40px;
    width: 320px;
  }
  .content_product_list {
    display: flex;
    flex-direction: column;
  }
  .content_products {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 320px) {
  .sidebar {
    margin-top: 40px;
    width: 280px;
  }
  .content_product_list {
    display: flex;
    flex-direction: column;
  }
  .content_products {
    display: flex;
    flex-direction: column;
  }
}