

.sidebar_blog{
  padding: 6px;
  align-items: flex-start;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  background:white;
  overflow: hidden;
  width: 300px !important;
  height: max-content;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  .sidebar_blog_title{
    background-color: #DFF5FF;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 14px;
    border-radius: 10px;
  }
  .sidebar_blog_item {
    margin-top: 10px;
    border: 1px solid #9a9a9a17;
    padding-right: 1px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    height: 40px;
    //justify-content: space-between;
    padding-left: 5px;
    transition: all 0.8s ease;
    p{
      margin-right: 10px;
    }
    &:before{
      content: "";
      display: none;
      padding: 0px;
      width: 2px;
      height: 40px;
      background: #525FE1;
      animation: line 1s ease;
      border-radius: 10px;
      @keyframes line {
        0%{
          height: 0px;
          //border: 1px solid #525FE1;
        }
        100%{
          height:40px;

        }
      }

    }
    &::after{
      position: absolute;
      content: "";
      display: none;
      background: #9a9a9a17;
      padding: 10px;
      opacity: 50%;
      width: 100%;
      height: 100%;

      animation: sidebar 0.5s ease;
      @keyframes sidebar {
        0%{
          width: 0px;
        }
        100%{
          width: 100%;
        }
      }
    }
    &:hover{
      box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
      &::after{
        display: block;

      }
      &::before{
        display: block;
      }
    }
    .number{
      padding:5px ;
      background: red;
    }

  }
}

.sidebar_blog_single{
  margin-top: 50px;
  .sidebar_blog_single_title{
    color: rgb(149, 177, 215);
    font-size: 25px;
  }
  .sidebar_blog_single_content{
    .sidebar_blog_single_content_list{
      margin-top: 25px;
      list-style-type: disc;
      color: #525FE1;
      list-style-position: inside;
      li{
        padding-block: 10px;
        white-space: nowrap;
        &:hover{
          color: #FAA300 ;

        }
      }
    }
  }
}


@media only  screen and (max-width: 1024px) {
  .sidebar_blog{
    width: 280px !important;
    margin-right: 0;
    margin-left: 0;
  }
}

@media only  screen and (max-width: 768px) {
  .sidebar_blog{
    width: 720px !important;
    margin-right: 0;
    margin-left: 0;
  }
}

@media only  screen and (max-width: 425px) {
  .sidebar_blog{
    width: 375px !important;
    margin-right:  0;
  }
}


@media only  screen and (max-width: 375px) {
  .sidebar_blog{
    width: 350px !important;
    margin-right:0;
  }
}

@media only  screen and (max-width: 320px) {
  .sidebar_blog{
    width: 300px !important ;
    margin-right:0;
    margin-left: 0;
  }
}